* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.wrapper {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 350px;
  height: 500px;
  background-color: lightgray;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px 10px;
  background-color: white;
  border-radius: 16px;
  overflow: auto;
}

.top-screen {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 20px;
  opacity: 0.55;
}

.main-screen {
  flex: 2;
  display: flex;
  align-items: center;
  font-size: 48px;
}

.interface {
  flex: 5;
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}

.interface-row {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.double {
  grid-column-start: 1;
  grid-column-end: 3;
}

.triple {
  grid-column-start: 1;
  grid-column-end: 4;
}

.calc-btn {
  margin: 5px;
}
