.wrapper {
  border-radius: 16px;
  padding: 10px;
  background: lightgray;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
}

.wrapper {
  width: min(95vw, 450px);
  height: 600px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.screen {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  padding: 5px;
  border-radius: 16px;
  background: white;
}

.top-screen {
  flex: 1;
  font-size: 16px;
  opacity: 0.5;
  display: flex;
  align-items: center;
}

.main-screen {
  flex: 4;
  font-size: 52px;
  display: flex;
  align-items: flex-end;
}

.interface {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.interface-row {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calc-btn {
  margin: 10px 5px;
}

.double {
  grid-column-start: 1;
  grid-column-end: 3;
}

.triple {
  grid-column-start: 1;
  grid-column-end: 4;
}
